html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  background-color: hsl(25, 1%, 98%);
  color: hsl(0, 0%, 26%);
}

main.main {
  min-height: 320xp;
}

@media screen and (min-width: 1024px) {
  main.main {
    min-height: calc(100vh - 223px);
  }
}

button:disabled {
  opacity: 0.5;
}
